$icon-font-path: "/bower_components/bootstrap-sass/fonts/";

@import 'bootstrap-sass/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding: 0;
    margin: 0;
}

/* Custom page header */
.header {
    border-bottom: 0px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 20px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 0px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 0px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Add */
.header {
    position: relative;
    padding: 0 10px;
}
.header_center {
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}
.header_right {
    left: 0;
    position: absolute;
    text-align: right;
    top: 0;
    width: 100%;
    padding-top: 19px;
    padding-bottom: 0;
    padding-right: 10px;
}


/* put_stiker */

#area{
    border: 2px solid #999;
    cursor: crosshair;
    margin-left: 5px;
}

#sidebar {
    width: 180px;
    min-height: 100%;
    float: left;
    background-color: #A0A0A0;
}

#steckeritems {
    width: 170px;
    height: 576px;
    margin-top: 5px;
    margin-left: 5px;
    overflow:scroll;
    background-color: #EEEEEE;
}

#save{
    font-size: 12pt;
    width: 100px;
    height: 30px;
    background: -moz-linear-gradient(top, #fff, #e1e1e1 1%, #e1e1e1 50%, #cfcfcf 99%, #ccc);
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(0.01, #e1e1e1), color-stop(0.5, #e1e1e1), color-stop(0.99, #cfcfcf), to(#ccc));
}

#buttons{
    text-align: center;
}

.thumbnail{
    border: 2px solid #999;
    margin-right: 5px;
}

.tableimage{
    float: left;
}

.container {
    padding-top: 0px;
    width: 100%;
}

body {
    padding: 10px 0px;
    margin: 0px, 15px;
    height: 100%;
}

.footer {
    text-align: center;
}