html{
	max-height: 100%;
	width: auto;
}

.clear-type {
	/*フォントのアンチエイリアシング*/
	-webkit-transform-origin: 0 0;
	-webkit-transform: scale(1, 1.01);
	-moz-transform-origin: 0 0;
	-moz-transform: scale(1, 1.01);
	-ms-transform-origin: 0 0;
	-ms-transform: scale(1, 1.02);
	/* IE9だけ1.02 */
	-o-transform-origin: 0 0;
	-o-transform: scale(1, 1.01);
}

#tabletop{
	-webkit-filter: brightness(100%);
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	-ms-transition: all 0.25s ease;
	transition: all 0.25s ease;
}

#tabletop:hover{
	-webkit-filter: brightness(60%);
}

body{
	padding: 20px 0 20px 0;
	max-height: auto;
	max-width: 100%;
}

header{
	position:fixed;
	height: 20%;
	max-width: 100%;
	background: white;
	font-size: large;
	text-align: center;
	vertical-align: middle;
}

#logo{
	float: left;
	width: 20%;
	height: 30%;
}

#logo img{
	max-width: 100%;
	max-height: auto;
}

#page{
	float: right;
	text-align: center;
	left: 30%;
	width: 80%;
}

nav{
	position:fixed;
	float: left;
	top: 20%;
	width: 20%;
	height: auto;
}

#sideMenu{
	float: left;
	top: 0 auto;
	width: 30%;
	height: auto;
}

section{
	position:absolute;
	top: 30%;
	left: 30%;
	padding: 0;
	width: 70%;
	height: auto;
	float: right;
}

section p{
	float:right;
	margin: 30px 10px 30px 10px;
	font-size: large;
	text-align: center;
	vertical-align: middle;
}

article div{
	width: 30%;
	height: auto;
	margin-bottom: 20px;
	-ms-interpolation-mode: bicubic;
	text-align: center;
	float: left;
}
#iPad{
	width: 30%;
	height: auto;
}

#Mac{
	width: 60%;
	height: auto;
}

.clear{
	clear: both;
}
.clear hr{
	display:none;
}

.footer{
}

