
<!DOCTYPE html PUBLIC>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <title>select_tabletop</title>
      <link rel="stylesheet" type="text/css" href="css/jquery.ui.slider.css" />
      <link rel="stylesheet" type="text/css" href="css/jquery.ui.theme.css" />
      <link rel="stylesheet" type="text/css" href="css/select_tabletop.css" />
  </head>

  <body class= "clear-type"°°onload="menuSlider.init('menu','slide')">
    <section>
      <p>
        •π•∆•√•´©`§Œ‘á§∑èà§Í§Ú––§¶•‹©`•…§Úﬂx§Û§«§Ø§¿§µ§§°£
        <br>
        <br>
        <input type="file" name="imgfile_update" accept="image/*">
       <input type= "submit" value="ÀÕ–≈">
     </p>

      <div id="container">
        <div id="tabletop" class="tabletop">
          <ul id="makerList" class="makerList">
            <li>Acer</li>
            <li>Amazon</li>
            <li>Apple</li>
            <li>ASUS</li>
            <li>Dell</li>
            <br>
            <br>
            <li>FUJITSU</li>
            <li>Google</li>
            <li>HP</li>
            <li>Lenovo</li>
            <li>Microsoft</li>
            <li>NEC</li>
            
            <li>Panasonic</li>
            <li>SONY</li>
            <li>TOSHIBA</li>
          </ul>

          <div id="img_Container">
            <div id="img_Scroller">

              <div class="container Acer">
                <div class="content tablet">
                  <div>
                    <a href="#">
                      <br>
                      Iconia
                      <br><br>
                      <img src="images/Acer/tablet/Iconia_7in.png" alt="images/Acer/tablet/Iconia_7in.png" class="thumb inch_7">
                      <br>
                      A
                      <br>
                      [7in]
                    </a>
                  </div>
                </div>
                <div class="content tablet">
                  <div>
                    <a href="#">
                      <br>
                      Iconia
                      <br><br>
                      <img src="images/Acer/tablet/ICONIA_8in.png" alt="images/Acer/tablet/ICONIA_8in.png" class="thumb inch_8">
                      <br>
                      W3/W4
                      <br>
                      [8in]
                    </a>
                  </div>
                </div>
                <div class="content tablet">
                  <div>
                    <a href="#">
                      <br>
                      Iconia
                      <br><br>
                      <img src="images/Acer/tablet/Iconia_10in.png" alt="images/Acer/tablet/Iconia_10in.png" class="thumb inch_10">
                      <br>
                      W5
                      <br>
                      [10in]
                    </a>
                  </div>
                </div>
                <div class="content tablet">
                  <div>
                    <a href="#">
                      <br>
                      Iconia
                      <br><br>
                      <img src="images/Acer/tablet/Iconia_11in.png" alt="images/Acer/tablet/Iconia_11in.png" class="thumb inch_11">
                      <br>
                      W7
                      <br>
                      [11in]
                    </a>
                  </div>
                </div>
                <div class="content tablet">
                  <div>
                    <a href="#">
                      <br>
                      Aspire
                      <br><br>
                      <img src="images/Acer/note/top/Aspire_15in.png" alt="images/Acer/note/top/Aspire_15in.png" class="thumb inch_15">
                      <br>
                      E
                      <br>
                      [15in]
                    </a>
                  </div>
                </div>
                <div class="content tablet">
                  <div>
                    <a href="#">
                      <br>
                      Aspire
                      <br><br>
                      <img src="images/Acer/note/top/Aspire_17in.png" alt="images/Acer/note/top/Aspire_17in.png" class="thumb inch_17">
                      <br>
                      V
                      <br>
                      [17in]
                    </a>
                  </div>
                </div>
                <div>
                </div>
              </div>

              <div class= "container Amazon">
                <div class="content">
                  <div>
                    <a href="#">
                      <br>
                      Kindle
                      <br><br>
                      <img src="images/Amazon/tablet/KindleFire_7in.png" alt="images/Amazon/tablet/KindleFire_7in.png" class="thumb inch_7">
                      <br>
                      Kindle Fire HD
                      <br>
                      [7in]
                    </a>
                  </div>
                </div>
                <div class="content">
                  <div>
                    <a href="#">
                      <br>
                      Kindle
                      <br><br>
                      <img src="images/Amazon/tablet/KindleFire_8in.png" alt="images/Amazon/tablet/KindleFire_8in.png" class="thumb inch_8">
                      <br>
                      Kindle Fire HDX
                      <br>
                      [8in]
                    </a>
                  </div>
                </div>
              </div>

              <div class= "container Apple">
                <div class="content">
                  <div>
                    <a href="#">
                      <br>
                      iPad
                      <br><br>
                      <img src="images/Apple/tablet/iPadmini_7in.png" alt="images/Apple/tablet/iPadmini_7in.png" class="thumb inch_7">
                      <br>
                      iPad mini
                      <br>
                      [7in]
                    </a>
                  </div>
                </div>
                <div class="content">
                  <div>
                    <a href="#">
                      <br>
                      iPad
                      <br><br>
                      <img src="images/Apple/tablet/iPad_9in.png" alt="images/Apple/tablet/iPad_9in.png" class="thumb inch_9">
                      <br>
                      iPad Air/2
                      <br>
                      [9in]
                    </a>
                  </div>
                </div>
                <div class="content">
                  <div>
                    <a href="#">
                      <br>
                      Mac
                      <br><br>
                      <img src="images/Apple/note/top/Mac_11in.png" alt="images/Apple/tablet/Mac_11in.png" class="thumb inch_11">
                      <br>
                      Mac Book Air/Pro
                      <br>
                      [11in]
                    </a>
                  </div>
                </div>
                <div class="content">
                  <div>
                    <a href="#">
                      <br>
                      Mac
                      <br><br>
                      <img src="images/Apple/note/top/Mac_13in.png" alt="images/Apple/note/top/Mac_13in.png" class="thumb inch_13">
                      <br>
                      Mac Book Air/Apo
                      <br>
                      [13in]
                    </a>
                  </div>
                </div>
                <div class="content">
                  <div>
                    <a href="#">
                      <br>
                      Mac
                      <br><br>
                      <img src="images/Apple/note/top/Mac_15in.png" alt="images/Apple/note/top/Mac_15in.png" class="thumb inch_15">
                      <br>
                      Mac Book Pro
                      <br>
                      [15in]
                    </a>
                  </div>
                </div>
                <div class="content">
                  <div>
                    <a href="#">
                      <br>
                      Mac
                      <br><br>
                      <img src="images/Apple/note/top/Mac_17in.png" alt="images/Apple/note/top/Mac_17in.png" class="thumb inch_17">
                      <br>
                      Mac Book Apo
                      <br>
                      [17in]
                    </a>
                  </div>
                </div>
              </div>

              <div class= "container ASUS">
                <div class="content">
                  <div>
                    <a href="#">
                      <br>
                      MEMO Pad
                      <br><br>
                      <img src="images/ASUS/tablet/MEMO_7in.png" alt="images/ASUS/tablet/MEMO_7in.png" class="thumb inch_7">
                      <br>
                      MEMO Pad
                      <br>
                      [7in]
                    </a>
                  </div>
                </div>
                <div class="content">
                  <div>
                    <a href="#">
                      <br>
                      MEMO Pad
                      <br><br>
                      <img src="images/ASUS/tablet/MEMO_8in.png" alt="images/ASUS/tablet/MEMO_8in.png" class="thumb inch_8">
                      <br>
                      MEMO Pad 8
                      <br>
                      [8in]
                    </a>
                  </div>
                </div>
                <div class="content">
                  <div>
                    <a href="#">
                      <br>
                      MEMO Pad
                      <br><br>
                      <img src="images/ASUS/tablet/MEMO_10in.png" alt="images/ASUS/tablet/MEMO_10in.png" class="thumb inch_10">
                      <br>
                      MEMO Pad
                      <br>
                      [10in]
                    </a>
                  </div>
                </div>
                <div class="content">
                  <div>
                    <a href="#">
                      <br>
                      Vivo Tab
                      <br><br>
                      <img src="images/ASUS/tablet/Vivo_10in.png" alt="images/ASUS/tablet/MEMO_10in.png" class="thumb inch_10">
                      <br>
                      Vivo Tab/Smart
                      <br>
                      [10in]
                    </a>
                  </div>
                </div>
                <div class="content">
                  <div>
                    <a href="#">
                      <br>
                      Vivo Tab
                      <br><br>
                      <img src="images/ASUS/tablet/Vivo_11in.png" alt="images/ASUS/tablet/Vivo_11in.png" class="thumb inch_11">
                      <br>
                      Vivo Tab RT
                      <br>
                      [11in]
                    </a>
                  </div>
                </div>
                <div class="content">
                  <div>
                    <a href="#">
                      <br>
                      VivoBook
                      <br><br>
                      <img src="images/ASUS/note/top/VivoBook_11in.png" alt="images/ASUS/note/top/VivoBook_11in.png" class="thumb inch_11">
                      <br>
                      VivoBook
                      <br>
                      [11in]
                    </a>
                  </div>
                </div>
                <div class="content">
                  <div>
                    <a href="#">
                      <br>
                      VivoBook
                      <br><br>
                      <img src="images/ASUS/note/top/VivoBook_15in.png" alt="images/ASUS/note/top/VivoBook_15in.png" class="thumb inch_15">
                      <br>
                      VivoBook
                      <br>
                      [15in]
                    </a>
                  </div>
                </div>
                <div class="content">
                  <div>
                    <a href="#">
                      <br>
                      TransBook
                      <br><br>
                      <img src="images/ASUS/note/top/TransBook_10in.png" alt="images/ASUS/note/top/TransBook_10in.png" class="thumb inch_10">
                      <br>
                      TransBook
                      <br>
                      [10in]
                    </a>
                  </div>
                </div>
                <div class="content">
                  <div>
                    <a href="#">
                      <br>
                      TransBook
                      <br><br>
                      <img src="images/ASUS/note/top/TransBook_11in.png" alt="images/ASUS/note/top/TransBook_11in.png" class="thumb inch_11">
                      <br>
                      TransBook Trio
                      <br>
                      [11in]
                    </a>
                  </div>
                </div>
              </div>

              <div class= "container Dell">
                <div class="content">
                  <div>
                    <a href="#">
                      <br>
                      Venue
                      <br><br>
                      <img src="images/Dell/tablet/Venue_8in.png" alt="images/Dell/tablet/Venue_8in" class="thumb inch_8">
                      <br>
                      Venue 8 Pro
                      <br>
                      [8in]
                    </a>
                  </div>
                </div>
                <div class="content">
                  <div>
                    <a href="#">
                      <br>
                      Venue
                      <br><br>
                      <img src="images/Dell/tablet/Venue_11in.png" alt="images/Dell/tablet/Venue_11in" class="thumb inch_11">
                      <br>
                      Venue 11 Pro
                      <br>
                      [11in]
                    </a>
                  </div>
                </div>
                <div class="content">
                  <div>
                    <a href="#">
                      <br>
                      XPS
                      <br><br>
                      <img src="images/Dell/note/top/XPS_11in.png" alt="images/Dell/note/top/XPS_11in" class="thumb inch_11">
                      <br>
                      XPS 11
                      <br>
                      [11in]
                    </a>
                  </div>
                </div>
                <div class="content">
                  <div>
                    <a href="#">
                      <br>
                      XPS
                      <br><br>
                      <img src="images/Dell/note/top/XPS_12in.png" alt="images/Dell/note/top/XPS_12in" class="thumb inch_12">
                      <br>
                      XPS 12
                      <br>
                       [12in]
                    </a>
                  </div>
                </div>
                <div class="content">
                  <div>
                    <a href="#">
                      <br>
                      XPS
                      <br><br>
                      <img src="images/Dell/note/top/XPS_13in.png" alt="images/Dell/note/top/XPS_13in" class="thumb inch_13">
                      <br>
                      XPS 13
                      <br>
                      [13in]
                    </a>
                  </div>
                </div>
                <div class="content">
                  <div>
                    <a href="#">
                      <br>
                      Insperon
                      <br><br>
                      <img src="images/Dell/note/top/Insperon_11in.png" alt="images/Dell/note/top/Insperon_11in" class="thumb inch_11">
                      <br>
                      Insperon 3000
                      <br>
                      [11in]
                    </a>
                  </div>
                </div>
                <div class="content">
                  <div>
                    <a href="#">
                      <br>
                      Insperon
                      <br><br>
                      <img src="images/Dell/note/top/Insperon_14in.png" alt="images/Dell/note/top/Insperon_14in" class="thumb inch_14">
                      <br>
                      Insperon 14R/7000
                      <br>
                      [14in]
                    </a>
                  </div>
                </div>
                <div class="content">
                  <div>
                    <a href="#">
                      <br>
                      Graphic Pro
                      <br><br>
                      <img src="images/Dell/note/top/Graphic_15in.png" alt="images/Dell/note/top/Graphic_15in" class="thumb inch_15">
                      <br>
                      Graphic Pro 7000
                      <br>
                      [15in]
                    </a>
                  </div>
                </div>
                <div class="content">
                  <div>
                    <a href="#">
                      <br>
                      Graphic Pro
                      <br><br>
                      <img src="images/Dell/note/top/Graphic_17in.png" alt="images/Dell/note/top/Graphic_17in" class="thumb inch_17">
                      <br>
                      Graphic Pro 17R/7000
                      <br>
                      [17in]
                    </a>
                  </div>
                </div>
                <div class="content">
                  <div>
                    <a href="#">
                      <br>
                      ALIENWERE
                      <br><br>
                      <img src="images/Dell/note/top/ALIENWERE_14in.png" alt="images/Dell/note/top/ALIENWERE_14in" class="thumb inch_14">
                      <br>
                      ALIENWERE 14
                      <br>
                      [14in]
                    </a>
                  </div>
                </div>
                <div class="content">
                  <div>
                    <a href="#">
                      <br>
                      ALIENWERE
                      <br><br>
                      <img src="images/Dell/note/top/ALIENWERE_17in.png" alt="images/Dell/note/top/ALIENWERE_17in" class="thumb inch_17">
                      <br>
                      ALIENWERE 17
                      <br>
                      [17in]
                    </a>
                  </div>
                </div>
                <div class="content">
                  <div>
                    <a href="#">
                      <br>
                      ALIENWERE
                      <br><br>
                      <img src="images/Dell/note/top/ALIENWERE_18in.png" alt="images/Dell/note/top/ALIENWERE_18in" class="thumb inch_18">
                      <br>
                      ALIENWERE 18
                      <br>
                      [18in]
                    </a>
                  </div>
                </div>
              </div>

              <div>
                <a href= "#"></a>
                <a href= "#"></a>
              </div>


              <div class= "container FUJITSU">
                <div class="content">
                  <div>
                    <a href="#">
                      <br>
                      ARROWS Tab
                      <br><br>
                      <img src="images/FUJITSU/tablet/ARROWS_10in.png" alt="images/FUJITSU/tablet/ARROWS_10in.png" class="thumb inch_10">
                      <br>
                      ARROWS Tab
                      <br>
                      [10in]
                    </a>
                  </div>
                </div>
                <div class="content">
                  <div>
                    <a href="#">
                      <br>
                      ARROWS Tab
                      <br><br>
                      <img src="images/FUJITSU/tablet/ARROWS_12in.png" alt="images/FUJITSU/tablet/ARROWS_12in.png" class="thumb inch_12">
                      <br>
                      ARROWS Tab
                      <br>
                      [12in]
                    </a>
                  </div>
                </div>
                <div class="content">
                  <div>
                    <a href="#">
                      <br>
                      LIFEBOOK
                      <br><br>
                      <img src="images/FUJITSU/note/top/LIFEBOOK_13in.png" alt="images/FUJITSU/note/top/LIFEBOOK_13in.png" class="thumb inch_13">
                      <br>
                      LIFEBOOK
                      <br>
                      [13in]
                    </a>
                  </div>
                </div>
                <div class="content">
                  <div>
                    <a href="#">
                      <br>
                      LIFEBOOK
                      <br><br>
                      <img src="images/FUJITSU/note/top/LIFEBOOK_14in.png" alt="images/FUJITSU/note/top/LIFEBOOK_14in.png" class="thumb inch_14">
                      <br>
                      LIFEBOOK
                      <br>
                      [14in]
                    </a>
                  </div>
                </div>
                <div class="content">
                  <div>
                    <a href="#">
                      <br>
                      LIFEBOOK
                      <br><br>
                      <img src="images/FUJITSU/note/top/LIFEBOOK_15in.png" alt="images/FUJITSU/note/top/LIFEBOOK_15in.png" class="thumb inch_15">
                      <br>
                      LIFEBOOK
                      <br>
                      [15in]
                    </a>
                  </div>
                </div>
              </div>

              <div class= "container Google">
                <div class="content">
                  <div>
                    <a href="#">
                      <br>
                      nexus
                      <br><br>
                      <img src="images/Google/tablet/nexusin.png" alt="" class="thumb ">
                      <br>
                      Google
                    </a>
                  </div>
                </div>
              </div>
              <div class= "container">
                <div class="content">
                  <div>
                    <a href="#">
                      <img src="images/HP/tablet/in.ng" alt="" class="thumb ">
                      <br>
                      HP
                    </a>
                  </div>
                </div>
              </div>
              <div class= "container Lenovo">
                <div class="content">
                  <div>
                    <a href="#">
                      <img src="images/Lenovo/tablet/in.png" alt="" class="thumb ">
                      <br>
                      Lenovo
                    </a>
                  </div>
                </div>
              </div>
              <div class= "container Microsoft">
                <div class="content">
                  <div>
                    <a href="#">
                      <img src= "images/Microsoft/tablet/Surface_7in.png" alt= "images/Microsoft/tablet/Surface_7in" class= "thumb inch_7">
                      <br>
                      SurfaceMini
                    </a>
                  </div>
                </div>
                <div class= "content">
                  <div>
                    <a href= "#">
                      <img src= "images/Microsoft/tablet/Surface_10in.png" alt= "images/Microsoft/tablet/Surface_10in.png" class= "thumb inch_10">
                    <br>
                    Surface/Pro/2/Pro2
                    </a>
                  </div>
                </div>
              </div>

              <div class= "container NEC">
                <div class="content">
                  <div>
                    <a href="#">
                      <img src="images//tablet/in.ng" alt="" class="thumb ">
                      <br>
                      
                    </a>
                  </div>
                </div>
              </div>

              <div class= "container Panasonic">
                <div class="content">
                  <div>
                    <a href="#">
                      <img src="images//tablet/in.ng" alt="" class="thumb ">
                      <br>
                      
                    </a>
                  </div>
                </div>
              </div>

              <div class= "container SONY">
                <div class="content">
                  <div>
                    <a href="#">
                      <img src="images//tablet/in.ng" alt="" class="thumb ">
                      <br>
                      
                    </a>
                  </div>
                </div>
              </div>

              <div class= "container TOSHIBA">
                <div class="content">
                  <div>
                    <a href="#">
                      <img src="images//tablet/in.ng" alt="" class="thumb ">
                      <br>
                      
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="scrollWrapper" class="scrollWrapper">
            <span id="prev_img" class="prev_img">
            </span>
            <div id="slider" class="slider">
            </div>
            <span id="next_img" class="next_img">
            </span>
          </div>
          <div id="img_overlay" class="img_overlay">
          </div>
          <div id="img_loading" class="img_loading">
          </div>
          <div id="next_button" class="next_button">
          </div>
          <div id="prev_button" class="prev_button">
          </div>
          <div id="close_button" class="close_button">Close preview
          </div>
        </div>
      </div>
    </section>

  <footer>
    BananaChoco @ DMTC °¡ Microsoft
  </footer>

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script> 
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"></script> 
  <script type="text/javascript" src="js/tabletop_slider.js"></script>
  </body>
</html>


