<div ng-include="'partials/navbar'"></div>

<div class="jumbotron">
    <div id="sidebar">
        <!--ステッカー一覧画面　-->
        <div id="steckeritems">
            <!-- ステッカー画像 -->
            <img ng-repeat="item in imgStickers" src="{{ item.src }}" width="{{ item.width }}" height="{{ item.height }}" ng-click="selectStickr($index)">
        </div>
        <div >
            <input class="buttons" type="button" value="SAVE" ng-click="saveCanvas()">
        </div>
    </div>
    <div>
        <canvas width="{{ imgTabletop[0].width }}" height="{{ imgTabletop[0].height }}" id="area" canvas-watch>
            Canbasに対応したブラウザを用意してください。
        </canvas>
        <div id="garllery">
        </div>
    </div>
</div>

<div class="footer">
  BananaChoco @ DMTC x Microsoft
</div>
