<div ng-include="'partials/navbar'"></div>

<div class="jumbotron">
    <section>
        <!-- 天板選択 -->
        <div id= "scroll_bar">
        <article class= "clear-type">
            <!--画像一覧/Mac製品のみ-->
            <div class= "l1 left" id= "tabletop">
                <p>
                    <a href= "">
                        <img id= "iPad" src= "../../images/tabletop/Apple/tablet/iPadmini_7in.png" alt= "Mac_7in" title= "7in">
                    </a>
                </p>
                <a href= "">
                    iPad mini
                    <br>
                    [7in]
                </a>
            </div>
            <div class= "l1 center" id= "tabletop">
                <p>
                    <a href= "">
                        <img id= "iPad" src= "../../images/tabletop/Apple/tablet/iPad_9in.png" alt= "Mac_9in" title= "9in">
                    </a>
                </p>
                <a href= "">
                    iPad
                    <br>
                    [9in]
                </a>
            </div>
            <div class= "l1 right" id= "tabletop">
                <p>
                    <a href= "">
                        <img id= "Mac" src= "../../images/tabletop/Apple/note/top/Mac_11in.png" alt= "11in" title= "Mac_11in">
                    </a>
                </p>
                <a href= "">
                    MacBook Air/Pro
                    <br>
                    [11in]
                </a>
            </div>
            <br>
            <div class= "l2 left" id= "tabletop">
                <p>
                    <a href= "">
                        <img id= "Mac" src= "../../images/tabletop/Apple/note/top/Mac_13in.png" alt= "13in" title= "Mac_13in">
                    </a>
                </p>
                <a href= "">
                    MacBook Air/Pro
                    <br>
                    [13in]
                </a>
            </div>
            <div class= "l2 center" id= "tabletop">
                <p>
                    <a href= "">
                        <img id="Mac" src="../../images/tabletop/Apple/note/top/Mac_15in.png" alt="11in" title="Mac_15in">
                    </a>
                </p>
                <a href= "">
                    MacBook Pro
                    <br>
                    [15in]
                </a>
            </div>
            <div class= "l2 right" id= "tabletop">
                <p>
                    <a href= "">
                        <img id="Mac" src="../../images/tabletop/Apple/note/top/Mac_17in.png" alt="17in" title="Mac_17in">
                    </a>
                </p>
                <a href= "">
                    MacBook Pro
                    <br>
                    [17in]
                </a>
            </div>
        </article>
    </div>
</div>

<div class="footer">
  BananaChoco @ DMTC x Microsoft
</div>
